@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'RobotoSlab-Bold', sans-serif;
}

body {
  background: #f5f6fa;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background: #fff;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

h1 {
  margin-right: 80px;
}

li {
  margin: 10px 20px;
  color: #000;
}

.categories-space {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.book-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fa;
}

.add-new-book {
  background-color: #f5f6fa;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form {
  width: 90%;
  border-top: 2px solid #e8e8e8;
}

.link-tag {
  cursor: pointer;
  font-weight: 200;
}

/* STYLES FOR BOOK ITEM */

.book-item {
  width: 88%;
  border: 1px solid#e8e8e8;
  background: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second-info {
  display: flex;
  justify-content: space-between;
}

.right-info {
  padding: 0 50px;
}

button {
  margin: 10px 0;
  padding: 2px 0;
  cursor: pointer;
}

.buttons {
  margin-right: 5px;
  color: #4386bf;
  border: none;
  background: none;
  outline: none;
  font-weight: 200;
}

.buttons:first-child {
  border-right: 2px solid #e8e8e8;
  padding: 5px;
}

.buttons:last-child {
  border-left: 2px solid #e8e8e8;
  padding: 5px;
}

.vertical-border {
  border-right: 2px solid #e8e8e8;
  padding-right: 40px;
}

.center-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.category {
  color: #b8b7b7;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 200;
}

.title {
  color: #121212;
  font-size: 25px;
  margin: 10px 0;
  font-weight: 300;
}

.author {
  font-size: 16px;
  color: #4386bf;
}

.percentage {
  font-size: 32px;
  font-weight: 300;
}

.blue-text {
  color: #0290ff;
}

.update-btn {
  background: #0290ff;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 100;
}

.fade {
  color: #9c9c9c;
  font-weight: 100;
}

.high-five {
  font-size: 15px;
  font-weight: 200;
  margin: 10px 0;
}

.title-form {
  color: #6e6e6e;
  padding: 10px 0;
  font-weight: 300;
}

.input-one {
  border: 1px solid #e8e8e8;
  color: rgb(15, 15, 15);
  padding: 12px 20px;
  width: 600px;
  margin-right: 20px;
}

select {
  border: 1px solid #e8e8e8;
  padding: 12px 20px;
  width: 350px;
  margin-right: 20px;
  color: rgb(61, 60, 60);
}

.inout-two {
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
  outline: none;
  color: #fff;
  padding: 12px 20px;
  width: 220px;
  cursor: pointer;
}

.icon-blue {
  color: #0290ff;
}
